:root {
  --primary-color: #00bfff; /* More saturated sky blue */
  --secondary-color: #e0e0e0;
  --text-color: #333;
  --light-grey: #f8f8f8;
  --border-color: #ddd;
  --dark-grey-text: #555;
  --light-blue-hover: #eef;
  --blue-text-hover: #007bff;
  --sent-message-bg: var(--primary-color);
  --sent-message-color: white;
  --received-message-bg: #e0e0e0;
  --received-message-color: var(--text-color);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#app {
    height: 100vh;
    /* text-align: center; Remove this unless explicitly needed for layout */
    /* Remove other default Wails styles that are not needed */
}

/* Add a basic body style for consistency */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
